.fade-appear {
  opacity: 0.01;
}

.fade-appear-active {
  opacity: 1;
  transition: .5s ease-in all;
}

.HomeText {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f2f2f2;
}

.HomeText .title {
  font-size: 45px;
}

.HomeText .subtitle {
  font-style: italic;
}

@media (max-width: 576px) {
  .HomeText .title {
    font-size: 40px;
  }
}
